@model IEnumerable<WebAppPharmacy.Models.Category>

@{
    ViewData["Title"] = "Список категорий";
}

<div class="container mt-4">
    <h2 class="mb-4 text-info">
        <i class="bi bi-list-ul me-2"></i> Список категорий
    </h2>

    <div class="d-flex justify-content-between mb-3">
        <p class="lead">Категории товаров</p>
        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle me-2"></i> Создать новую категорию
        </a>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="text-center" style="width: 250px;">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil-fill"></i> Редактировать
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mx-2">
                            <i class="bi bi-eye-fill"></i> Подробнее
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash-fill"></i> Удалить
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.js"></script>
}